VITE_APPOINTMENTS=http://localhost:5067/api/Appointments

VITE_REFRESH=http://localhost:5067/api/Auth/refresh
VITE_LOGIN=http://localhost:5067/api/Auth/login
VITE_LOGOUT=http://localhost:5067/api/Auth/logout
VITE_REGISTER=http://localhost:5067/api/Auth/register

VITE_PATIENTS_GUEST=http://localhost:5067/api/Patients/guest
VITE_PATIENTS_ME=http://localhost:5067/api/Patients/me

VITE_STATUS=http://localhost:5067/api/Status
VITE_CATEGORIES=http://localhost:5067/api/Categories

VITE_DOCTORS=http://localhost:5067/api/Doctors
VITE_DOCTORS_SEARCH=http://localhost:5067/api/Doctors/search