{
    "ConnectionStrings": {
        "default": "server=localhost;database=bookingDb;user=bookingUser;password=password"
    },
    "JwtSettings": {
        "Issuer": "medicalBookingApi",
        "Audience": "Noroff",
        "AccessTokenExpiryMinutes": 5,
        "RefreshTokenExpiryDays": 1,
        "SecretKey": "a-string-secret-at-least-256-bits-long"
    },
    "AllowedOrigins": ["http://localhost:5173"]
}