.layout {
    gap: 20px;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    color: var(--color-secondary-text);
    width: 300px;
    align-items: center;
    overflow: hidden;
}

.layout img {
    height: 100%;
    scale: scaleX(1.5);
}

.docDetails {
    padding: var(--spacing-md) var(--spacing-sm);
}

.specialty {
    background-color: var(--color-accent);
    padding: var(--spacing-sm);
    width: fit-content;
    border-radius: var(--radius);
}

.location {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (min-width: 900px) {
    .layout {
        flex-direction: row;
        width: 500px;
    }
    .layout img {
        scale: 1.1;
    }
}