.layout {
    width: 100%;
    padding: var(--spacing-lg) 0;
    border: var(--radius);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
    justify-items: flex-start;
}