.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-sm) var(--spacing-md);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.207);
}

.logo {
    display: none;
}

.layout a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 16px;
}

.menuITems {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (min-width: 900px) {
    .layout {
        flex-direction: row;
    }

    .layout a {
        font-size: 30px;
    }

    .logo {
       display: block;
    }
}

.logout {
    cursor: pointer;
}

@media (min-width: 900px) {
    .layout {
        padding: 0 var(--spacing-md);
        margin: 0;
    }
}