.formLayout {
    border-radius: var(--radius);
    background-color: var(--brand-secondary);
    color: var(--bg-dark);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    padding: var(--spacing-md)
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: var(--spacing-lg);
    width: 100%;
}

.personalDetails, .sensitiveDetails {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.errorInput {
    border: 1px solid red;
}

.formLayout button {
    margin: var(--spacing-lg);
}

@media (min-width: 900px) {
    .formLayout {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
    }
    .inputs {
        flex-direction: row;
    }
    
    .personalDetails, .sensitiveDetails {
        padding: var(--spacing-lg);
    }

    .header {
        display: flex;
        flex-direction: column;
    }

}