
.layout {
    background: var(--bg);
    border-radius: var(--radius);
    color: var(--color-text);
}

.layout thead th {
    border-radius: var(--radius);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--color-primary);
}

.layout th, td {
    text-align: left;
}

.layout th {
    border-bottom: 2px solid var(--color-muted);
}

.layout tbody tr {
    border-bottom: 1px solid var(--color-muted);
    height: 3.5rem;
}

.layout tbody tr:nth-child(even)
 {
    background-color: rgb(60, 60, 60)
 }

 .layout tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
 }

@media (min-width: 900px) {
    .layout th, td {
        padding: var(--spacing-sm) var(--spacing-lg);
        text-align: left;
    }
}