.layout {
    width: 50%;
    justify-self: center;
    align-self: center;
    padding: var(--spacing-sm) var(--spacing-sm);
    cursor: pointer;
    border: none;
    border-radius: var(--radius);
    font-weight: 500;
}
.layout:hover {
    filter: brightness(1.1);
}

.primary {
    background-color: var(--brand-primary);
    color: var(--color-primary-text);
}

.secondary {
    background-color: var(--brand-secondary);
    color: var(--color-sec--brand-secondary-text);
}

@media (min-width: 900px) {
    .layout {
        width: 100px
    }
}