.switcher {
    position: relative;
    border: none;
    color: var(--color-text);
    font: inherit;

    background-color: transparent;

    cursor: pointer;
    animation: appear 0.8s ease-in-out forwards;
}

.sun, .moon {
    transform: translateY(2px);
}

@keyframes appear {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}