.switcher {
    position: relative;
    border: none;
    color: var(--color-text);
    font: inherit;

    background-color: transparent;

    cursor: pointer;
    animation: appear 0.8s ease-in-out forwards;
    border: 1px solid transparent;
    border-radius: var(--radius);
    transition: background-color 0.3s ease-in-out;
}

.switcher:hover {
    border: 1px solid var(--color-muted);
    background-color: rgba(255,255,255,0.3)
}

.sun, .moon {
    transform: translateY(2px);
}

@keyframes appear {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}