.mainLayout {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    gap: 20px;
    width: 100%;
}

.sideInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: var(--spacing-md) var(--spacing-md);
}

.infoCard {
    color: var(--color-primary);
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: var(--color-accent);
    padding: var(--spacing-md);
    border-radius: var(--radius);
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.loggedInLayout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding: var(--spacing-sm);
    width: 100%;
}

.appointmentHistory {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 60vh;
    width: 100%;
    font-size: 0.8rem;
    overflow: scroll;
    background-color: var(--color-secondary);
    color: var(--color-secondary-text);
    border-radius: var(--radius);
    padding: var(--spacing-md);
    align-items: flex-start;
}

.loggedInBookingLayout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: flex-start;
}

.sideCards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upComingAppointmentCard {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    color: var(--color-primary-text);
    height: fit-content;
    width: 300px;
    border-radius: var(--radius);
    padding: var(--spacing-sm) var(--spacing-md);
    gap: 10px;
}

.upComingAppointmentCardContent{
    display: flex;
    gap: 20px;
}

.upComingAppointmentCardContent > p {
    height: 100%;
    font-size: 30px;
}

.linksLayout {
    display: flex;
    flex-direction: column;
    background-color: var(--color-muted);
    color: black;
    height: fit-content;
    width: 300px;
    border-radius: var(--radius);
    padding: var(--spacing-sm) var(--spacing-md);
    gap: 10px;
}

.linksLayout a {
    color: var(--color-primary);
    text-decoration: none;
}

@media (min-width: 900px) {
    .mainLayout {
        flex-direction: row;
    }

    .loggedInBookingLayout {
        flex-direction: row;
    }
}