.search {
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 20px;
    padding: var(--spacing-lg);
}
.formLayout {
    display: flex;
    gap: 20px;
}

.formLayout input {
    width: 50vw;
}


.formLayout {
    width: 90vw;
}

.formLayout button {
    width: 100px;
}

.formLayout input {
    padding: var(--spacing-sm) var(--spacing-sm);
    border-radius: var(--radius);
    transition: width 0.8s ease-in-out;
}

.searchResult {
    flex: 1;
}

@media (min-width: 900px) {
    .formLayout {
        flex-direction: row;
    }

    .formLayout input {
        width: 40vw;
    }


}