.mainLayout {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    height: 100vh;
    border: var(--radius);
}

@media (min-width:900px) {
    .mainLayout {
        flex-direction: row;
    }
}