.mainLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    height: 100%;
}

@media (min-width: 900px) {
    .mainLayout {
        flex-direction: row;
    }
}