.search {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--spacing-lg);
    height: 100vh;
    overflow: auto;
}
.formLayout {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
}

.formLayout input {
    width: 50vw;
}


.formLayout {
    width: 90vw;
}

.formLayout button {
    width: 100px;
    height: 100%;
}

.formLayout input {
    transition: width 0.8s ease-in-out;
}

.searchResult {
    flex: 1;
}

@media (min-width: 900px) {
    .formLayout {
        flex-direction: row;
    }
}